<div class="property">
	<div class="property__header" style="background-color: {{property.agency.brandingColors.primary}}">{{property.id}}<img src="{{property.agency.logo}}"/></div>
	<div class="property__body"><img src="{{property.mainImage}}" width="100%" /></div>
	<div class="property__footer">Price: {{property.price}}</div>
	<button class="button button--add" ng-if="!saved" ng-click="propertyCtrl.addProperty(property)">Add</button>
	<button class="button button--delete" ng-if="saved" ng-click="propertyCtrl.deleteProperty(property)">Delete</button>
	<div class="transparent-layer"></div>
</div>