.property {
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

.property__header {
	border-bottom: 1px solid #ccc;
}

.property__footer {
	border-top: 1px solid #ccc;
}

.property__header,
.property__body,
.property__footer {
	padding: 15px;
}