html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****** Common *******/
h1, h2, h3, h4, h5, h6, label, a {
  font-family: 'Arial';
  margin: 0; }

p {
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%; }

/**** Utilities *****/
.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

/******* App *********/
.main {
  border: 1px solid #666;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.main__footer,
.main__header {
  border-top: 1px solid #666;
  background: #333333; }

.main__header,
.main__container,
.main__footer {
  padding: 15px; }

.main__header {
  height: 100px; }

.header__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px; }

.main__container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  height: calc(100% - 200px);
  overflow: auto; }

.header__desc,
.footer__copyright {
  font-size: 10px;
  color: #fff;
  letter-spacing: 3px; }

.list-page__title {
  font-size: 30px;
  margin: 20px 0; }

.list-page__wrapper {
  display: flex;
  justify-content: center; }

.property-list {
  width: 30%;
  min-width: 230px;
  margin: 30px;
  padding: 30px;
  background-color: #ececec;
  border: 1px dotted #666; }

.property-list__title {
  padding: 10px;
  font-size: 28px;
  text-align: center; }

.property {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  background-color: #fff; }
  .property:hover .button {
    display: block; }
  .property:hover .transparent-layer {
    display: block; }

.property__header {
  border-bottom: 1px solid #ccc; }

.property__footer {
  border-top: 1px solid #ccc;
  font-weight: bold; }

.property__header,
.property__body,
.property__footer {
  padding: 15px; }

.button {
  display: none;
  position: absolute;
  border: 0;
  background-color: #ffe512;
  padding: 10px;
  top: 50%;
  transform: translate(-50%, 0%);
  left: 50%;
  min-width: 175px;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 2;
  cursor: pointer; }
  .button.button--add {
    background-color: #92da06; }
  .button.button--delete {
    background-color: #f91c0b; }

.transparent-layer {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 1; }

/*# sourceMappingURL=main.css.map */